body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#0e0b16;
    margin: auto;
    align-items: center;
    padding: 1rem 0rem;
    
}

a {
    font-style: none;
    color: #e7dfdd;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: rgb(180, 30, 87);
    border-radius: 0.9rem;
    padding: 5px 8px;
    text-align: center;
}

.intro {
    position: relative;
    width: 100%;
    height: 40rem;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #0e0b16;
    border-bottom: 10px groove rgb(180, 30, 87);
    border-top: 10px groove rgb(180, 30, 87);
}

#arcade { 
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#wmsg {
    color:#e7dfdd;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

#wmsg:hover { 
    text-shadow:2px 8px 8px rgb(180, 30, 87);
    position: absolute;
}

#about-me-section, .contactsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#about-me{
    margin: 0rem 20rem;
    font-size: 1.5rem;
}
.skill-logo{
    margin-bottom: 2rem;
    border-bottom: 10px groove rgb(180, 30, 87);
}

.skill-logo:hover {
    width: 120px;
    height: auto;
    background-color: rgb(180, 30, 87);
    border-radius: 5px;

}

h1, h2, h3, h4 {
    font-family: 'Lobster Two', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}


.projects { 
    background-color: #0e0b16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #e7dfdd;
    padding: 20px 0px;
    border-bottom: 10px groove rgb(180, 30, 87);
    border-top: 10px groove rgb(180, 30, 87);
}
#neonpic {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

#contact-me {
    width: 8.5rem;
    background-color: rgb(180, 30, 87);
    border-radius: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e7dfdd;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 8px;
    margin-bottom: 2rem;
}
.emailbutton {
    display: flex;
    justify-content: center;
}
#contact-me:hover {
    background-color: #0e0b16;
    cursor: pointer;
}
#myText {
    margin-bottom: 8px;
}
textarea {
    resize: none;
    height: 100px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 30, 87);
    border-top: 10px groove rgb(180, 30, 87);
}
.image-links {
    margin-top: 2rem;
    width: 50px;
    height: auto;
    background-color: #e7dfdd;
    border-radius: 12px;
}

.image-links:hover {
    background-color: rgb(180, 30, 87);
    border-radius: 2rem;
    cursor: pointer;
}

#arrowup {
    width: 50px;
    height: 50px;
    background-color: rgb(180, 30, 87);
    border-radius:40px;
}

#arrowup:hover {
    cursor: pointer;
    box-shadow: 2px 10px 10px #e7dfdd;
}